<tr>
  <td> <%= inscription.order %> </td>
  <td> <%= inscription.graduate.careers.map(&:name).join(", ") %> </td>
  <td> <%= inscription.graduate.last_name %> </td>
  <td> <%= inscription.graduate.first_name %> </td>
  <td> <%= inscription.graduate.dni %> </td>
  <td> <%= inscription.formula.code %> </td>
  <td> <%= inscription.email %> </td>
</tr>
