<p class="lead">
  <strong> Paso 2: </strong> Complet치 tus datos
</p>

<div class="row form-group">
  <div class="col-md-3 text-right">
    <strong>Fecha de Jura</strong>
  </div>
  <div class="col-md-9">
    <%=(l @swear.swear_date).capitalize %>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-3 text-right">
    <strong>Fecha de Inscripci칩n</strong>
  </div>
  <div class="col-md-9">
    <%=(l @swear.inscription_date).capitalize %>
    de <%= configatron.inscription.starts_at %>
    a <%= configatron.inscription.ends_at %>
  </div>
</div>

<%= bootstrap_form_for(@inscription, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  <%= hidden_field_tag :dni, @graduate.dni %>
  <%= f.hidden_field :swear_id %>
  <%= f.hidden_field :graduate_id %>
  <%= f.collection_select :formula_id, @formulas, :id, :full_name,
    label: "F칩rmula de Jura", include_blank: true %>
  <div class="col-md-9 col-md-offset-3">
    <% @formulas.each do |formula| %>
      <p class="help-block formula-block" id="formula-<%= formula.id %>" style="display: none">
        <strong><%= formula.name %>:</strong> <%= formula.text %>
      </p>
    <% end %>
  </div>
  <%= f.email_field :email, label: "Correo electr칩nico" %>
  <%= f.submit "Enviar", class: "btn btn-primary pull-right" %>
<% end %>
